.products , 
.productSlider {
    .product {
        .imageList {
            .imgItem {
                background-size: cover;
                border-radius: .25rem;
                width: 100%;
                min-height: 333px;
            }
        }

        .colorList {
            display: flex;
            padding-top: 0.5rem;

            .colorItem {
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                align-items: center;

                span {
                    width: 1.5rem;
                    height: 1.5rem;
                    display: inline-block;
                    margin: auto;
                    position: relative;
                    border-radius: 100%;
                    border: 1px solid #E7E7E7;

                    &.active {
                        width: 1.125rem;
                        height: 1.125rem;

                        &::after {
                            content: '';
                            position: relative;
                            border: 2px solid #191919;
                            display: block;
                            height: 1.5rem;
                            width: 1.5rem;
                            top: -0.25rem;
                            left: -0.25rem;
                            border-radius: 100%;
                        }
                    }
                }
            }
        }

        .woocommerce-LoopProduct-link {
            .woocommerce-loop-product__title {
                font-size: 0.875rem;
                line-height: 1.5rem;
                font-weight: 600;
                font-family: "Open Sans", Arial, sans-serif;
                color: #191919;
            }
            .price {
                .amount {
                    font-size: 0.875rem;
                    line-height: 1.5rem;
                    font-weight: 600;
                    color: #191919;
                }
            }
        }
    }
}

.productSlider {

    .product {
        margin: 0 6px;

        .colorList {
            display: none;
        }
    }

    .slick-arrow {
        width: 62px;
        height: 62px;
        background-color: #fff;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        color: #000;
        position: absolute;
        top: 34%;
        border: none;

        &::before {
            display: none;
        }

        &.slick-prev {
            left: 0;
        }

        &.slick-next {
            right: 0;
        }

        &.slick-disabled {
            opacity: 0;
            cursor: default;
        }

        .bi {
            width: 35px;
            height: 35px;
        }
    }

    .slick-list {
        margin: 0 -0.25rem;
        overflow: visible !important;

        .slick-track {
            margin-left: 0;

            .slick-slide {
                margin: 0 0.25rem;
            }
        }
    }
}